@tailwind base;
@tailwind components;
@tailwind utilities;



h1{
    font-size: xx-large;
}

button , input{
    padding: 5px;
    border: 1px solid rgba(200, 200, 200);
}

table td, table th {
    border: 1px solid rgba(200, 200, 200);
    padding: 2px;
}